*{
    /* background-color: #F9E7BE; */
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #F9E7BE;

}

button{
    cursor: pointer;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #EB011D;
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: #EB0701;
    color: white;
    margin-left: 35px ;
    margin-top: 10px;
    width: 50px;
    /* border: solid 2px purple; */
}

.navBar{
    background-color: #EB0701;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 35px;
    /* border: solid 2px white; */
    /* width: 1250px; */
    /* align-items: center;
    justify-content: center; */
    margin-left: 162px;
}

.loginCadastroHeader{
    background-color: #EB0701;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-right: 30px;
    /* border: solid 2px purple; */
}

.itensNavBar{
    background-color: #EB0701;
    color: white;
    border:none;
}

.botaoCadastroHeader{
    border: solid 1px;
    border-radius: 17px;
    background-color: #F8D698;
    color: #EB0701;
    width: 80px;
    height: 30px;
}

.botaoLoginHeader{
    border: solid 1px;
    border-radius: 17px;
    background-color: #F8D698;
    color: #EB0701;
    width: 80px;
    height: 30px;
}

#banner{
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://devmedia.discovernikkei.org/articles/6204/Taiko.jpg') ; 
    width: 100%;
    height: 575px;
    /* border: 10px solid black; */
} 

#boxTitulo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    width: 100%;
    /* border: solid 2px white; */

}

.tituloHome{
    color: rgb(255, 255, 255);
    background-color: transparent;
    /* font-size: xx-large;
    font-weight: bolder; */
    /* border: solid 2px white; */
    width: 500PX;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 130px;
    
    
}


#parte1{
height: 620px;
width: 100%;
}



#tituloP1{
    margin-top: 40px;
    color: #EB0701;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-left: 150px;
}

#tituloP2{
    margin-top: 20px;
    color: #EB0701;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-left: 150px;

}

#corpoP1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#boxResumo{
    /* border: solid 2px black; */
    height: 500px;
    width: 600px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resumo{
    border: solid 1px #EB0701;
    border-radius: 20px;
    width: 440px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    
}

/* #resumo2{
    border: solid 1px red;
    border-radius: 20px;
    width: 440px;
    height: 170px;
    
} */

.imagensHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#parte2{
    height: 600px;
    width: 100%;


}

.historiaTaiko{
    border: solid 1px #EB0701;
    border-radius: 20px;
    width: 440px;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 7px;

}

#boxHistoriaTaiko{
    height: 500px;
    width: 600px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .gruposTaiko{
    border: solid 2px red;
    border-radius: 20px;
    width: 380px;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

} */

#boxCorpoP2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 2px black; */
    margin-top: 20px;
}


#parte3{
    margin-top: 50px;
    /* background-color:  #F9E7BE; */
    background-color: #EB0701;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#tituloPropostas{
    color: white;
    background-color:  #EB0701;
}

.imagensPropostas{
    background-color: #EB0701;
    margin-top: 15px;
}

#boxPropostas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F9E7BE;
    background-color:  #EB0701;
    width: 100%;
    
}

.propostas{
    background-color: #EB0701;
    border: solid 1.5px white;
    border-radius: 20px;
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}

.topicos{
    margin-top: 8px;
    background-color: #EB0701;
    color: white;    
    /* color: rgb(235, 7, 1, 0.8);
    background-color: white; */
    border-radius: 20px;
    /* border: solid 1px white; */
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}

.especificacaoPropostas{
    margin-top: 20px;
    background-color: #EB0701;
    color: white;
    /* font-size: small; */
    display: flex;
    height: 130px;
    width: 190px;
}

#footer{
    margin-top: 50px;
    background-color: #EB0701;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#blocosFooter{
    background-color: #EB0701;
    /* border: solid 2px white; */
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#tituloNavegar{
    background-color: #EB0701;
    font-weight: bold;
    color: white;

}

#NavegarHome{
    background-color: #EB0701;
    border: none;
    color: white;
}

#NavegarSobre{
    background-color: #EB0701;
    border: none;
    color: white;
}

#NavegarCadastro{
    background-color: #EB0701;
    border: none;
    color: white;
}

#NavegarLogin{
    background-color: #EB0701;
    border: none;
    color: white;
}

#blocoContato{
    background-color: #EB0701;
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

#tituloBlocoContato{
    background-color: #EB0701;
    font-weight: bold;
    color: white;   
}

#telefone{
    background-color: #EB0701;
    color: white;
}

#email{
    background-color: #EB0701;
    color: white;
}

#contato{
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}


#tituloContato{
    color: #EB0701;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}



#parte2Contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    margin-top: 50px;
    gap: 30px;
    /* border: solid 2px red; */
}

#fraseContato{
    color: #EB0701;
    margin-left: 40px;

}

#infoContato{
    /* border: solid 2px white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.botoesContato{
    border: none;
    color: white;
    background-color: #EB0701;
    height: 20px;
    width: 100px;
    border-radius: 10px;
}

#divTelefone{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#divEmail{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#boxContato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin-top: 10px;
}

#contatenos{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* border: solid 2px white; */
    margin-top: 10px;

}

/* Página de Login */

.boxLogin{
    background-image: url('../assets/imgs/imgTaiko.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 430px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 2px black; */
    position: relative;
    
       
}
.borderLogin{
    width: 590px;
    height: 530px;
    border: solid 2px #F8D698;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #F9E7BE;
}

#tituloLogin{
    margin-top: 90px;
    color: #EB0701;
    /* border: solid 2px black; */
    margin-bottom: 100px;
}

.iptLogin{
    border-radius: 20px;
    width: 300px;
    height: 30px;
    background-color: white;
    border: solid 1px white;
    outline: 0;
    line-height: 40px;
    text-align: center;
}



.funcaoOlho{
    position: relative;
}

#botaoLogin{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: solid 1px white;
    color: gray;
    margin-top: 10px;
}

.contBoxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 0px; */
    margin-bottom: 0px;
    /* border: solid 2px black; */
    margin-bottom: 70px;
}

input::placeholder{
    text-align: center;
    color: gray;
}



.paginaLogin{
    width: 100%;
    height: 610px;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

#semCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.pergunta{
    color:white

}

#encaminharLogin{
    border: none;
    background-color: transparent;
}

/* Página Cadastro */


#temConta{
align-self: center;
display: flex;
flex-direction: column;
align-items: center;
}

.iptCadastro{
    border-radius: 20px;
    width: 300px;
    height: 30px;
    background-color: white;
    border: solid 1px white; 
    outline: 0;
    text-align: center;
}

.labelCadastro{
color: #EB0701;
font-weight: bold;
} 

#borderCadastro{
    width: 800px;
    height: 420px;
    border-radius: 20px;
    background-color: #F9E7BE;
    border: #EB0701 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.conteudoBoxCadastro{
width: 350px;
height: 250px;
display: flex;
justify-content: space-evenly;
flex-direction: column;

}

#tituloCadastro{
    color:#EB0701;
}

#boxesCadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: #EB011D solid 2px; */
    width: 650px;
    height: 250px;
    margin-top: 30px;

}

#botaocadastrar{
    border: #EB0701 solid 2px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #EB0701;
    color: white;

}

#encaminharCadastro{
    border: none;
    background-color: transparent;
}

/* Sobre */

#bannerSobre{
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url('../assets/imgs/imgBanner6.jpeg') ; 
    width: 100%;
    height: 410px;
}

.tituloSobre{
    color: #EB0701;
    margin-top: 50px;
    margin-left: 40px;
}

#sobreEu{
margin-top: 30px;
margin-left: 40px;
width: 100%;
color: #EB0701;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}


#boxTextosSobreEu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
}

.textosSobreEu{
    width: 500px;
    height: 200px;
    border: #EB0701 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sobreSite{
    margin-top: 30px;
}

.textosSobreSite{
    width: 500px;
    height: 200px;
    border: #EB0701 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Menu Lateral */

.botaoAbre{
    /* position: absolute; */
    top: 20px;
    margin-left: 20px;
    color: #F8D698;
    border: none;
    background-color: none;
    cursor: pointer;
}

.botaoFecha{
    margin-left: 30px ;
    position: relative;
    cursor: pointer;

}


.container{
    top: 20px;
    background-color: #EB0701;
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: -220px;
    z-index: 100;
    margin-top: none;
}

.container.mostra{
    left: 0;
}

.tituloMenu{
    margin-top: 10px;
    color: #F8D698;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.logoMenu{
    width: 70px;
    margin-top: 10px;
}

.boxBotoesMenu{
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-evenly;
}

.botoesMenu{
    border: none;
    background-color: transparent;
    font-size: larger;
    font-weight: bold;
    color: #F8D698;

}



/* Página Pós Login */


.headerPosLogin{
    /* top: 0; */
    /* width: 100vw; */
    z-index: 10;
    background-color: #EB0701;
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    margin-bottom: 0px;
}

.navBarPosLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.boxLogoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgLogo{
    width: 55px;
}

.textoLogo{
    width: 55px;
}

.imgSignOut{
margin-right: 20px;
width: 25px;
}

.imgMenu{
margin-left: 20px;
width: 25px;
}

#saudacoes{
    color: #EB0701;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.pesquisa{
    width: 350px;
    height: 180px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #F8D698;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    
}

/* DASHBOARD */

#tituloDashboard{
    color: #EB0701;

}

#boxTituloDashboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

#myChart{
  width: 300px;
  height: 300px;
  position: relative;
}

#graficoInstrumentosBox{
    width: 400px;
    height: 400px;
}

.graficoQuizBox{
    width: 400px;
    height: 400px;
}

#graficosDesempenho{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#graficosP1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#resultadoTestesPersonalidade{
    background-color: #F8D698 ;
    opacity: 1;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloResultadoTP{
    color: #EB0701;
}

#divisaoResultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
}


/* QUIZ E TESTE DE PERSONALIDADE */

#tituloQuiz{
    color: #EB0701;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#boxesQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.boxQuiz{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nomeTipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nomeQuiz{
margin-left: 5px;
margin-right: 5px;

}

.tipoQuiz{
    color: #EB011D;
}

/* QUIZ DE CONHECIMENTO DE OKINAWA E MÚSICAS */

.tituloTeste{
    color: #EB0701;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10%;
}

.boxesQuestoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.boxResposta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.pergunta{

    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

#imagensQ2{
    display: flex;
    flex-direction: row;
    
}

.boxQuestao{
width: 620px;
height: 400px;
background-color: white;
border-radius: 60px;
display: flex;
flex-direction: column;
align-items: center;
}

a{
    text-decoration: none;
}

.botaoVerificar{
    width: 110px;
    height: 35px;
    background-color: #EB0701;
    color: white;
    border-radius: 10px;
    border: none;
}


/* TESTE MÚSICA */

.tituloRegras{
        color: #EB0701;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* .boxRegras{

} */

.boxQuestaoMusica{
width: 620px;
height: 260px;
background-color: white;
border-radius: 60px;
display: flex;
flex-direction: column;
align-items: center;    
}

.perguntaMusica{
    color:#EB0701 ;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

audio{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.boxResultado{
background-color: white;
color: #EB0701;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
height: 150px;
border-radius: 20px;
}
#resultadoMusica{
width: 250px;
height: 80px;
}

.refazer{
    border: none;
    color: #EB0701;
    background-color: none;

}


/* TESTE DE PERSONALIDADE INSTRUMENTO */
.boxResultadoPI{
background-color: white;
color: #EB0701;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 400px;
height: 200px;
border-radius: 20px;
}